.root {
  margin-inline-start: -1rem;
  padding-inline-start: 0.5rem;
  border-inline-start: 0.5rem solid transparent;
  cursor: pointer;
  scroll-margin: 1rem;
}

:global .vscode-light :local .root:hover {
  border-inline-start: 0.5rem solid lightgray;
}

:global .vscode-dark :local .root:hover {
  border-inline-start: 0.5rem solid darkgray;
}

:global .vscode-light :local .active {
  border-inline-start: 0.5rem solid lightgray;
}

:global .vscode-dark :local .active {
  border-inline-start: 0.5rem solid darkgray;
}

:global .vscode-light :local .field {
  border-block-end: 1px dotted lightgray;
}

:global .vscode-dark :local .field {
  border-block-end: 1px dotted darkgray;
}

:global .vscode-light :local .name {
  color: blue;
}

:global .vscode-dark :local .name {
  color: lightblue;
}

.value p > img:only-child {
  display: block;
  max-inline-size: 100%;
  max-block-size: 400px;
  margin-inline: auto;
  margin-block: 0;
}
